yamllint==1.38.0
ansible==13.4.0
ansible-lint==26.3.0
# Pinned molecule version to 25.1.0 because of https://github.com/ansible-community/molecule-plugins/issues/301
molecule==25.1.0
molecule-plugins[vagrant]==25.8.12
